<div class="container">
  <div class="container-titulo">
    <h1>SOBRE MIM</h1>
  </div>
  <div class="container-descricao">
    <p>Sou alguém que ama aventuras ao ar livre. Adoro fazer trilhas, jogar
      futebol e também sou um entusiasta do ciclismo. Estou sempre em busca de
      desafios e novas experiências, seja na tecnologia ou explorando a
      natureza.
      Minha jornada na tecnologia começou como uma fuga do cotidiano, mas
      rapidamente se transformou em uma paixão genuína. Enxerguei na tecnologia
      a oportunidade de transformar essa paixão em uma carreira significativa.
      Como estudante de Engenharia de Software, estou empenhado em aprender e
      crescer nesse campo, ansioso para contribuir e fazer o que realmente amo.</p>
  </div>
</div>
